html*{
  box-sizing: border-box;
}

:root{
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.3em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #119090;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
}


.button{
  margin: 1.5em;
  display: inline-block;
  padding: 15px 25px;
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: lightgrey;
  border: none;
  box-shadow: 4px 5px 5px 0px rgba(163,163,163,0.75);
}

.button a{
    text-decoration: none;
    color: #162955;
}

.button:hover{background-color: lightgray}

.button:active {
  background-color: darkgray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.pic{
  width: 100%
}

.sloganbutton{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1{
  line-height: 1.3em;
  font-size: 3em;
}

h2{
   line-height: 1em;
    font-size: 2em;
}

p{
    font-size: 1.4em;
    line-height: 1.2em;
}

.links{
    text-decoration: none;
}

@media only screen and (min-width: 214px){
    .sloganbutton{
        justify-content: space-between;
        padding-right: 400px;
    }
}